APP_NAME=OFMA
ELIT21_SECRET=change-me
PAYPAL_CLIENT_ID=your-paypal-client-id
PAYPAL_CLIENT_SECRET=your-paypal-client-secret
PAYPAL_ENV=sandbox
PAYPAL_DEBUG=0
PAYPAL_ENV_AUTO_FALLBACK=1
SHIPPING_FEE=9.99
